---
import PostCardLink from "@/components/blog/PostCardLink.astro";
import Typography from "@/components/ui/Typography.astro";
import { SITE_TITLE } from "@/config/constants";
import Layout from "@/layouts/Layout.astro";
import { getBlogPosts } from "@/lib/blog";

const posts = getBlogPosts();
---

<Layout title=`Blog | ${SITE_TITLE}`>
  <div class="grid gap-4">
    {posts.map((post) => <PostCardLink post={post} />)}
  </div>
</Layout>
