---
import Layout from "@/components/Layout.astro";
import { Typography } from "@/components/ui/typography";
---

<Layout>
  <Typography className="w-full">
    <h1>Welcome</h1>
    Intro
    <h2>Projects</h2>
    <ul>
      <li>Project 1</li>
      <li>Project 2</li>
    </ul>
    <h2>Blog posts</h2>
    <ul>
      <li>Post 1</li>
      <li>Post 2</li>
    </ul>
    <h2>Contact</h2>
    GitHub LinkedIn
  </Typography>
</Layout>
