---
import Link from "@/components/Link.svelte";
import SvelteIcon from "@/components/SvelteIcon.svelte";
import { buttonVariants } from "@/components/ui/button/variants";
import { SOCIALS } from "@/config/navigation-items.svelte";
---

<div class="flex items-center gap-1">
  {
    SOCIALS.map((item) => (
      <Link
        href={item.href}
        aria-label={item.label}
        showExternalLinkIcon={false}
        class={buttonVariants({ variant: "ghost", size: "icon" })}
      >
        <SvelteIcon icon={item.icon} />
      </Link>
    ))
  }
</div>
