---
import type { ImageMetadata } from "astro";

import Footer from "@/components/footer/Footer.astro";
import Header from "@/components/header/Header.astro";

import RootLayout from "./RootLayout.astro";

interface Props {
  title?: string;
  description?: string;
  image?: ImageMetadata;
}

const { title, description, image } = Astro.props;
const { pathname } = Astro.url;
---

<RootLayout title={title} description={description} image={image}>
  <Header {pathname} />
  <main>
    <slot />
  </main>
  <Footer />
</RootLayout>

<style>
  main {
    /*
     * Setting a value higher than 100% will
     * fit the grid column to max content,
     * causing horizontal overflow if non-wrapping elements
     * like <pre> are present.
     */
    max-width: min(100%, var(--container-3xl));
    margin-inline: auto;
    padding: calc(var(--spacing) * 4);
  }
</style>
